
/* Resolution Message */

.resolution-wrapper {
    display: none;
    background-color: #fff;
    border-radius: 10px;
    margin: 30px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.resolution-message {
    padding: 20px;
}

@media only screen and (max-width: 768px) {
    .games-container, .wrapper, .memory-wrapper, .numberGuess-wrapper, #confettiCanvas {
        display: none !important;
    }

    .resolution-wrapper {
        display: flex;
    }
}
